@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://eject37.github.io/DiscordTheme/HideTrash.css");
@import url("https://eject37.github.io/DiscordTheme/ScrollBar.css");
@import url("https://eject37.github.io/DiscordTheme/RoundUserPanel.css");
@import url("https://eject37.github.io/DiscordTheme/OldMicrophone.css");
@import url("https://eject37.github.io/DiscordTheme/ChangeSearchBarToIcon.css");
@import url("https://eject37.github.io/DiscordTheme/RegionFlags.css");

:root {
    --app-bg: url(https://tenor.com/view/green-wallpaper-wallpaper-green-vert-gr%C3%BCn-gif-21025097);
    --blur-bg: 80px;
    --brightness-bg: 0.3;
    --border-main: 1px solid rgba(255, 255, 255, 0.1);
}

.theme-dark {
    --background-secondary-alt: rgba(255, 255, 255, 0.05);
    --background-tertiary: var(--background-secondary-alt);
    --status-danger: rgba(202, 90, 99, 0.9);
    --text-link: rgb(125, 170, 233);
    --background-primary: rgba(245, 245, 245, 0.1);
    --background-secondary: rgba(255, 255, 255, 0.05);
    --bg-overlay-chat: rgba(255, 255, 255, 0.05);
    --button-danger-background: rgba(250, 100, 135, 0.25);
    --background-modifier-selected: rgba(190, 190, 190, 0.25);
    --background-floating: rgba(190, 190, 190, 0.25);
    --status-positive-background: rgba(190, 190, 190, 0.25);
    --control-brand-foreground-new: rgba(100, 100, 100, 0.8);

    --text-brand: white;
}
:root {
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;
    --status-positive: rgba(255, 255, 255, 0.7);
    --text-positive: rgba(255, 255, 255, 0.67);
    --primary-700: rgba(200, 200, 200, 0.1);
    --brand-500: rgba(100, 100, 100);
    --brand-400: rgba(170, 170, 170, 0.4);
    --brand-560: rgb(220, 220, 220);
    --brand-530: rgba(230, 240, 255, 0.15);
    --brand-600: rgba(255, 255, 255, 0.3);
    --red-400: rgba(202, 90, 116, 0.7);
    --green-360: rgba(230, 240, 255, 0.15);
    --primary-630: rgba(230, 240, 255, 0.15);
    --primary-860: rgba(202, 90, 99, 0.9);
    --important-messages-color: #fdbdbd;
    --custom-standard-sidebar-view-sidebar-content-width: 217px;
    --custom-standard-sidebar-view-standard-padding: 100px;
}

:root:lang(bg),
:root:lang(el),
:root:lang(ru),
:root:lang(uk) {
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;
}

body {
    background: var(--app-bg) no-repeat;
    background-position: 15%;
    background-size: 105% 105%;
}

.bg_d4b6c5 {
    backdrop-filter: blur(var(--blur-bg)) brightness(var(--brightness-bg));
}

.info_c5a741::before {
    content: "Theme by yiuo &&&";
    color: var(--text-muted);
    font-size: 14px;
    padding-bottom: 10px;
    display: block;
}

.chatContent_a7d72e,
.chat_a7d72e,
.sidebar_a4d4d9,
.panel_bf1a22,
.container_adcaac,
.container_b2ca13,
.wrapper_fea3ef,
.callContainer_d880dc,
.wrapper_d880dc,
.panels_a4d4d9,
.privateChannels_f0963d,
.scroller_c47fa9,
.themedBackground_d0696b,
.themed_fc4f04,
.bg_d4b6c5,
#app-mount,
.app_a01fb1,
.codeView_d8e2d0.hljs,
.menu_d90b3d:not(.menu_ad5fac),
.embedFull_b0068a,
.container_cbd271,
.members_cbd271,
.container_ee69e0,
.member_cbd271,
.sidebarRegionScroller_c25c6d,
.standardSidebarView_c25c6d,
.layer_d4b6c5,
.contentRegionScroller_c25c6d,
.contentRegion_c25c6d,
.container_c2739c,
.nowPlayingColumn_c2739c,
.container_bf550a,
.inset_ac5d22,
.attachedBars_d0696b,
.background_b69b77,
.fieldList_b69b77,
.premiumBackground_c6d722,
.overlayBackground_c69a7b,
.bannerNormal_ab876d,
.userProfileInnerThemedNonPremium_c69a7b,
.container_f1fd9c,
.header_f1fd9cm,
.mediaBarInteractionVolume_f7877e,
.medium_f9a4c9,
.modal_f31a4d,
.authBoxExpanded_dc6abe,
.childWrapperNoHoverBg_f90abb,
.scroller_c6b11b,
.thin_c49869.scrollerBase_c49869.fade_c49869,
.brand_a0,
.streamPreview_ba4b17 {
    background: transparent !important;
}

.withFrame_a934d8 {
    margin-top: 0;
    padding-top: 4px;
}

.form_a7d72e:before,
.form_a7d72e:after,
.children_fc4f04:after,
.protip_f4e139,
.block_b5053a,
.tutorial_c36bbe.shown_c36bbe,
.userSettingsSecurityImage_ad4a7c,
.ready_e40c16,
.content_a7d72e:before,
.container_da1432,
.footerImage_fab929,.tipTitle_e40c16,.buttonContainer_df39bd,.statusBubbleOuter_d0a252::after,
.statusBubbleOuter_d0a252::before {
    display: none !important;
}

::selection {
    background: rgba(94, 98, 106, 0.4) !important;
}

#app-mount .staticButton_ef18ee,
#app-mount .contextMenuNub_ef18ee {
    background-color: rgba(255, 255, 255, 0.1) !important; /*off call*/
    color: rgb(255, 255, 255) !important;
}
#app-mount .staticButton_ef18ee:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; /*off call*/
}

.callContainer_d880dc {
    background: linear-gradient(
        rgba(0, 0, 0, 0.15),
        rgb(0, 0, 0, 0.1)
    ) !important;
    box-shadow: inset 0 0 10px rgba(100, 100, 100, 0.1);
    border-radius: 10px;
    border: var(--border-main);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.callContainer_d880dc:has(.actionRow_f8a4f3) {
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}


.gradientContainer_dd069c {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.04) 0%,
        rgba(0, 0, 0, 0) 50%
    );
}

.channelTextArea_a7d72e {
    background: rgba(255, 255, 255, 0.03) !important;
    border: var(--border-main);
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(100, 100, 100, 0.2);
}
.scrollerSpacer_e2e187 {
    height: 25px;
}
.form_a7d72e {
    margin-top: 0;
}

.interactive_f5eb4b,
.member_cbd271,
.layout_d808b0,
.modeSelected_d8bfb3 .link_d8bfb3,
.wrapper_d8bfb3 .link_d8bfb3 {
    transition: 0.1s;
    margin-left: 5px;
    width: 95%;
    border-radius: 10px;
}
.selected_f5eb4b,
.interactive_f5eb4b:hover,
.member_cbd271:hover,
.modeSelected_d8bfb3 .link_d8bfb3,
.modeSelected_d8bfb3:hover .link_d8bfb3 {
    background: linear-gradient(
        rgba(184, 184, 184, 0.225),
        rgba(255, 255, 255, 0.144)
    );
    margin-left: 7px;
}
.modeSelected_d8bfb3 .link_d8bfb3,
.wrapper_d8bfb3 .link_d8bfb3 {
    transition: none;
}

.searchBarComponent_f0963d {
    margin-left: 7px;
    width: 94% !important;
}

.menu_d90b3d:not(.menu_ad5fac, [id="account"], [id="status"]):before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    pointer-events: none;
    z-index: -1;
}

.banner_d5fdb1.divider_c3e427.biteSizeBanner_c3e427,
.banner_d5fdb1.divider_c3e427.fullSizeBanner_c3e427.roundedBanner_c3e427,
.fullSizeInnerThemed_c69a7b {
    background: rgba(255, 255, 255, 0.03) !important;
}

.container_b6cd66 {
    background: rgba(255, 255, 255, 0.03) !important;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 15px rgba(100, 100, 100, 0.1) !important;
}

.biteSizeInnerThemed_c69a7b {
    background: rgba(255, 255, 255, 0.03) !important;
}

#image-context[class*="menu_d90b3d"] {
    backdrop-filter: blur(15px) brightness(var(--brightness-bg));
}
.menu_d90b3d:not(.menu_ad5fac) .submenu_d90b3d:before {
    width: calc(100% - 16px);
    left: 8px;
}

[class^="sidebar_"] [class^="panels_"] {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45),
        inset 0 0 10px rgba(100, 100, 100, 0.2);
}
[class^="sidebar_"] [class^="panels_"] [class^="container_"],
[class^="sidebar_"] [class^="panels_"] [class^="panel_"] {
    background-color: rgba(100, 100, 100, 0.04) !important;
}

.attachment_b52bef.newMosaicStyle_b52bef,
.newMosaicStyle_d8e2d0 .codeView_d8e2d0,
.newMosaicStyle_d8e2d0 .footer_d8e2d0,
.newMosaicStyle_d8e2d0 .textContainer_d8e2d0,
.grid_b0068a,
.wrapper_a71a1c,
.markup_f8f345 code,
.content_c2654d {
    background: rgba(100, 100, 100, 0.15);
}

.wrapper_f7e168,
.quickswitcher_f4e139,
.tooltipPrimary_b6c360,
.tooltipGreen_b6c360,
.newMessagesBar_cf58b5,
.tooltipGrey_b6c360,
.streamPreview_ba4b17 button,
#emoji-picker-tab-panel,
.root_cbf230.elevationHigh_ff8688,
.container_b6cd66,
.body_adbea6,
.bar_eba0ba,
#popout_353,
#popout_459,
.streamPreview_adbea6,
.popout_a35965 {
    backdrop-filter: blur(10px) !important;
}

.wrapper_f7e168 {
    border-radius: 10px;
    border: 1px solid var(--background-secondary-alt);
    background: rgba(165, 165, 165, 0.15);
}

a.anchor_af404b > span:not(.username_de3235) {
    background: linear-gradient(
        90deg,
        rgb(78, 208, 255),
        rgb(230, 98, 230),
        rgb(171, 189, 56)
    );
    color: transparent;
    background-clip: text;
}


.wrapper_cd82a7,
.section_cd82a7 {
    background: rgba(100, 100, 100, 0.15);
}
.outer_ac5d22.interactive_ac5d22:hover,
.theme-dark .outer_ac5d22.active_ac5d22 {
    background: rgba(100, 100, 100, 0.3) !important;
}
.actionButton_e01b91 {
    background: rgba(100, 100, 100, 0.3) !important;
}


.quickswitcher_f4e139 {
    background: rgba(100, 100, 100, 0.15);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.1);
    padding: 3%;
    padding-right: 34px;
}
.input_f4e139 {
    background: rgba(100, 100, 100, 0.1);
    width: 103.4%;
}
.scroller_f4e139 {
    background: rgba(100, 100, 100, 0.15);
}


.mentioned_d5deea {
    background: rgba(226, 226, 226, 0.08) !important;
}

.mentioned_d5deea:before {
    background-color: rgba(226, 226, 226, 0.16);
}


.autocomplete_bcc24e {
    background-color: rgba(35, 35, 35, 0.2) !important;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid var(--background-secondary-alt);
}


.replyBar_b11c5e,
.jumpToPresentBar_cf58b5 {
    background: rgba(100, 100, 100, 0.07);
    border-bottom: 1px solid rgba(228, 228, 228, 0.03);
}
.jumpToPresentBar_cf58b5 {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid var(--background-secondary-alt);
}


.cardPrimary_a298b8 {
    background: rgba(100, 100, 100, 0.07);
}

.container_b01337,
.container_d00e26,
.container_a2e886 {
    background: rgba(100, 100, 100, 0.1);
    border: 1px solid var(--background-secondary-alt);
}


.premiumFeatureBorder_c6d722 {
    background: rgba(100, 100, 100, 0.15) !important;
    border: 1px solid var(--background-secondary-alt);
}

.directoryContainer_da3f59 {
    backdrop-filter: blur(var(--blur-bg)) brightness(var(--brightness-bg));
}


.input_f8bc55,
.input_f8bc55:hover {
    background: rgba(100, 100, 100, 0.2) !important;
    border: 1px solid var(--background-secondary-alt);
}
.input_f8bc55.focused_f8bc55,
.input_f8bc55:focus {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.bioTextArea_ccf27d {
    background: rgba(100, 100, 100, 0.2) !important;
    border: var(--border-main);
}


.userProfileInnerThemedNonPremium_c69a7b {
    border: var(--border-main);
}


.lookFilled_f6639d.select_f6639d {
    background: rgba(100, 100, 100, 0.2) !important;
    border: var(--border-main);
}

.popout_f6639d {
    background: rgba(100, 100, 100, 0.2) !important;
    backdrop-filter: blur(20px);
    border: var(--border-main);
}

.popout_f6639d.scrollerBase_c49869 {
    overflow: auto !important;
}


.itemFilled_eb92a8 {
    background: rgba(100, 100, 100, 0.2) !important;
}


.container_cebd1c.checked_cebd1c {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.container_cebd1c {
    background-color: rgba(100, 100, 100, 0.4) !important;
}


.card_a298b8:not(.outline_a298b8) {
    background-color: rgba(100, 100, 100, 0.15) !important;
}


.connection_e2a436,
.accountButtonInner_e2a436,
.accountBtnInner_ec99f9 {
    background-color: rgba(100, 100, 100, 0.2) !important;
}


.vc-backup-restore-card,
.warning_be45f6 {
    border: 1px solid rgba(240, 230, 100, 0.4);
}


.notDetected_fd966d {
    background-color: rgba(100, 100, 100, 0.1) !important;
    border: var(--border-main);
}


button[class*="lookFilled_dd4f85"] {
    background-color: rgba(150, 150, 150, 0.25) !important;
    border-radius: 7px;
}
button[class*="lookFilled_dd4f85"]:hover {
    background-color: rgba(150, 150, 150, 0.35) !important;
}

.lookOutlined_dd4f85.colorRed_dd4f85 {
    border: var(--border-main);
}
.lookOutlined_dd4f85.colorRed_dd4f85:hover {
    background-color: rgba(190, 30, 60, 0.3);
    border: 1px solid rgba(190, 30, 60, 0.4);
}


.container_acae5d.root_f9a4c9,
.modalSize_e1cc86.root_f9a4c9,
.small_f9a4c9,
.medium_f9a4c9 {
    background-color: rgba(100, 100, 100, 0.2) !important;
    backdrop-filter: blur(25px);
    border-radius: 10px;
}
.footer_f9a4c9,
.message_ddcc45 {
    background-color: rgba(100, 100, 100, 0.1) !important;
    border-radius: 10px;
}


.side_a0 .selected_a0 {
    background-color: rgba(100, 100, 100, 0.3) !important;
}
.side_a0 .item_a0 {
    border-radius: 10px;
}


.messagesPopoutWrap_ac90a2,
.container_eedf95 {
    background-color: rgba(100, 100, 100, 0.1) !important;
    backdrop-filter: blur(35px);
}
.messageGroupWrapper_ac90a2 {
    background-color: rgba(100, 100, 100, 0.1) !important;
}
.messagesPopoutWrap_ac90a2 {
    margin-top: -15px;
}

.themedBackground_bdf0de {
    background-color: transparent;
}

.uploadDropModal_f82cc7 .bgScale_f82cc7 {
    background-color: rgba(100, 100, 100, 0.3) !important;
    backdrop-filter: blur(10px);
}
.uploadDropModal_f82cc7 .inner_f82cc7 .instructions_f82cc7 {
    display: none !important;
}

.searchResultsWrap_c2b47d {
    background-color: rgba(100, 100, 100, 0.2) !important;
}
.searchResult_ddc613 {
    background-color: rgba(100, 100, 100, 0.1) !important;
    border: var(--border-main);
}


.circleIconButton_db6521 {
    background-color: rgba(200, 205, 210, 0.1) !important;
    color: rgba(200, 200, 200, 0.8) !important;
}


.searchBar_a46bef:hover,
.focused_a46bef .searchBar_a46bef,
.open_a46bef .searchBar_a46bef {
    background-color: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(20px);
}


.inviteRowButton_cedfaf,
.lookOutlined_dd4f85.colorGreen_dd4f85:hover {
    background-color: rgba(100, 100, 100, 0.25);
    border: var(--border-main) !important;
    width: 110px;
    border-radius: 6px;
}


.border_ba4b17.speaking_ba4b17 {
    box-shadow: inset 0 0 20px rgba(130, 130, 130, 0.7);
}


.sessionIcon_c7a2c0,
.legacySession_c7a2c0 .sessionIcon_c7a2c0 {
    filter: invert();
    background-color: rgba(100, 100, 100, 0.25) !important;
}


.textBadge_f05120 {
    background-color: rgba(100, 100, 100, 0.5) !important;
}


.fileNameLink_b52bef,
.link_f0135d,
.lookLink_dd4f85 {
    background: linear-gradient(90deg, rgb(255, 84, 132), rgb(137, 90, 255));
    color: transparent;
    background-clip: text;
}


.tooltipPrimary_b6c360,
.tooltipGreen_b6c360 {
    background-color: rgba(100, 100, 100, 0.2) !important;
    border-radius: 10px;
}


.popoutBanner_c3e427,
.banner_d5fdb1.modalBanner_c3e427 {
    background-color: rgba(100, 100, 100, 0.2) !important;
}
.userPopoutInner_c69a7b:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    pointer-events: none;
    z-index: -1;
}


.attachment_b52bef {
    background-color: rgba(100, 100, 100, 0.1) !important;
}

.upload_df1eaf {
    background-color: rgba(100, 100, 100, 0.2) !important;
    border-radius: 10px;
}

.upperBadge_c5f96a > .iconBadge_c96c45 {
    background-color: transparent !important;
    background-color: rgb(71, 71, 71) !important;
}


.text-xs-normal__46d75 span {
    font-family: var(--font-primary) !important;
}


.contents_dd4f85 {
    font-weight: 500;
}


.profileBadges_f89da9 {
    background-color: rgba(140, 140, 140, 0.2) !important;
}


.loadingPopout_a8c724 {
    border-radius: 10px;
}
.container_e40c16.fixClipping_c7e9c6 {
    backdrop-filter: blur(30px);
}

.newMessagesBar_cf58b5 {
    background: rgba(255, 255, 255, 0.1);
    border: var(--border-main);
}


.mainCard_a6d69a {
    background: rgba(255, 255, 255, 0.1);
}
.container_d331f1:hover {
    background: rgba(255, 255, 255, 0.2);
}


.tip_e40c16 {
    color: transparent;
    max-width: 1000px !important;
}
.tip_e40c16::before {
    content: "Yiuo Glass Theme";
    color: white !important;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.tip_e40c16::after {
    animation: slidein 1s;
    content: "Updated: 16.11.2024 ";
    color: white !important;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.chat_a7d72e.content_a7d72e.container_f1fd9c {
    background: rgba(255, 0, 0, 1) !important;
}


.channelRow_f04d06 {
    background: rgba(255, 255, 255, 0.1) !important;
}


.chatHeaderBar_efb691 {
    background: rgba(255, 255, 255, 0.1) !important;
}


.botTagRegular_a9e77f {
    background: rgba(255, 255, 255, 0.15) !important;
}


.interactive:hover {
    background: rgba(255, 255, 255, 0.15) !important;
}


.reactionMe_ec6b19 {
    background: rgba(255, 255, 255, 0.15) !important;
}


.container_e664f3 {
    backdrop-filter: blur(25px);
}


.wrapper_f90abb:hover .childWrapper_f90abb,
.wrapper_f90abb.selected_f90abb .childWrapper_f90abb {
    background: rgba(255, 255, 255, 0.1) !important;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1) !important;
}


.colorDefault_d90b3d.focused_d90b3d {
    border-radius: 10px;
}


.colorDanger_d90b3d {
    color: rgb(202, 90, 116);
}


.paymentPane_f66684,
.paginator_f66684,
.payment_a28a08 {
    background: rgba(255, 255, 255, 0.015) !important;
}


.contentWrapper_af5dbb {
    backdrop-filter: blur(20px);
}
.popoutContainer_cf58b5 {
    background: rgba(255, 255, 255, 0.05) !important;
}


.colorDefault_d90b3d.focused_d90b3d path {
    fill: rgba(255, 255, 255, 0.3);
}


.regionSelectPopout_ccb5ca {
    backdrop-filter: blur(15px);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1) !important;
    border: var(--border-main);
}


.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c:hover {
    background: rgba(255, 255, 255, 0.25) !important;
}


.addFriendInputWrapper_de812f:focus-within {
    border: var(--border-main);
}


.container__13b2a {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: var(--border-main);
}


.colorDanger_d90b3d:active:not(.hideInteraction_d90b3d) {
    background: rgba(202, 90, 116, 0.6) !important;
}

.colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) {
    border-radius: 10px;
}


.vc-membercount-widget {
    --color-online: rgba(108, 255, 223, 0.7);
}


.colorable_ef18ee.primaryDark_ef18ee .centerIcon_ef18ee {
    color: rgb(255, 255, 255);
}


.colorable_ef18ee.white_ef18ee,
.colorable_ef18ee.white_ef18ee .centerIcon_ef18ee {
    color: rgba(202, 90, 99, 0.9);
}


.anchor_af404b {
    text-decoration-color: rgba(255, 255, 255, 0.45) !important;
}


.resizeHandle_c0a559 {
    background-color: transparent;
}


.vc-notification {
    backdrop-filter: blur(20px);
}


.message_d5deea:hover {
    background: rgba(190, 190, 190, 0.03) !important;
}

.popout__4c91,
.reactionTooltip_fba897   {
    backdrop-filter: blur(15px) brightness(0.6);
}


.authBoxExpanded_dc6abe,
.modal_f31a4d {
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(15px);
}


.circleIconButton_db6521:hover > .circleIcon_db6521 {
    animation: ani-rotate 1s linear infinite;
}

.debugPanelStandalone_feab95 {
    backdrop-filter: blur(15px);
    border-radius: 15px;
}


.settingsBanner_c3e427 {
    background-color: rgba(100, 100, 100, 0.2) !important;
}

.grabber_c7a159 {
    background-color: rgb(150 150, 150) !important;
    border: var(--border-main);
}

.picker_cd703d {
    backdrop-filter: blur(15px) !important;
}

.giftCardButton_d8f41e {
    background-color: rgba(100, 100, 100, 0.2) !important;
    border: var(--border-main) !important;
}
.giftCardButton_d8f41e:hover {
    background-color: rgba(100, 100, 100, 0.4) !important;
}

.bar_c7a159,
.markDash_c7a159 {
    background: rgba(67, 67, 67, 0.52) !important;
}


article.embedWrapper_b558d0.embedFlexGrow_b558d0.embedFull_b0068a.embed_b0068a.markup_f8f345 {
    border-color: rgba(200, 200, 200, 0.35) !important;
}


.recentMentionsPopout_ddb5b4 {
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

ъ
.colorDefault_d90b3d.focused_d90b3d {
    background: rgba(255, 255, 255, 0.1);
}

.colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) {
    background: rgba(255, 255, 255, 0.15);
}


#emoji-picker-tab-panel {
    border: var(--border-main) !important;
}

.tooltipBrand_b6c360 {
    background: rgba(255, 255, 255, 0.1) !important;
}


.root_cbf230.elevationHigh_ff8688 {
    background: rgba(255, 255, 255, 0.1) !important;
    border-radius: 10px;
}


.searchBarComponent_f0963d,
.menu_d90b3d:not(.menu_ad5fac),
.searchBar_e7c031,
.searchBarComponent_f0963d {
    background: rgba(190, 190, 190, 0.05) !important;
    border-radius: 10px !important;
}


.biteSizeInner_c69a7b::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    pointer-events: none;
    z-index: -1;
}


.banner_d5fdb1 {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.statusBubbleShape_d0a252 {
    background-color: rgba(255, 255, 255, 0.05);
}

.allow_d25d19.selected_d25d19 {
    background-color: rgba(255, 255, 255, 0.25);
}

.passthrough_d25d19.selected_d25d19 {
    background-color: rgba(255, 255, 255, 0.15);
}


.popout_c5b389 {
    backdrop-filter: blur(20px);
    border: var(--border-main);
    border-radius: 10px;
}

#popout_2709 {
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

#app-mount
    div[class*="controlButton_b6e2f9"]
    button[aria-label="Прекратить просмотр"]
    svg
    path {
    fill: rgba(202, 90, 99, 0.9) !important;
}

.statusBubbleSingleLineWithTextShape_d0a252 {
    background-color: rgba(255, 255, 255, 0.05) !important;
}

#app-mount div > div[aria-label="Другие настройки"] {
    background: transparent !important;
    box-shadow: inset 0 0 10px rgb(100, 100, 100, 0.7);
}

.vc-settings-quickActions-pill:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

@keyframes ani-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}